@font-face {
  font-family: "golos-bold";
  src: url("./golos-text_bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "golos-demibold";
  src: url("./golos-text_demibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "golos-medium";
  src: url("./golos-text_medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "golos-regular";
  src: url("./golos-text_regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "inter-bold";
  src: url("./Inter-Bold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "inter-medium";
  src: url("./Inter-Medium.ttf");
  font-weight: 400;
}
