@use "../../../style/variables" as *;

.aboutCard {
  display: flex;
  padding: 20px 20px;
  border: 1px solid $orange;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;

  &__wrapper {
    padding-left: 20px;
  }

  &__title {
    color: $orange;
    margin-bottom: 15px;
    font-size: 28px;
    font-family: "golos-bold";
  }

  &__text {
    color: $grey;
    font-size: 16px;
  }
}